body {
    background-color: #000000;
    color: #ffffff;
    font-family: Impact, Arial, sans-serif;
    margin: 0 auto;
}

/***** Header *****/

header {
    width: 100%;
}

header h1 {
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: 2em;
    letter-spacing: .05em;
    word-spacing: .2em;
    height: inherit;
    margin: 15px
}

/***** Footer *****/

footer {
    width: 90%;
    margin: 50px auto 0 auto;
    text-align: center;
}

footer span {
    color: #566;
    font-size: .8rem;
}

/***** Main *****/

main {
    width: 90%;
    margin: 0 auto;
}

p {
    text-align: center;
    width: 100%;
}

form {
    margin-top: 5em;
}

label {
    display: block;
}

input {
    background-color: #ddd;
}

.bSpace {
    margin-bottom: 20px;
}

.sSpace {
    margin: 6px 7px;
}